.profile-img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    @media (max-width:768px) {
        height: 20px;
        width: 20px;
    }
}
#userCollapse{
    a{
        background-color: $colour-white;
        color: $colour-black !important;
    }
}