.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #110c1d;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  

    .sidebar-logo {
      text-align: center;
      margin-bottom: 2rem;
      color: blueviolet;
  
      h2 {
        margin: 0;
        font-size: 1.5rem;
      }
    }
  
    .sidebar-nav {
      flex: 1;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
      }
    }
    .nav-item , .sidebar-signout{
        margin-bottom: 1rem;
        text-decoration: none;
        color: #1c49a88a;
        font-size: 1rem;
        display: block;
        padding: 0.5rem;
        border-radius: 4px;
        transition: background-color 0.3s;

        &:active {
          border-left: 2px solid white;
        }

        i, svg {
          color: #ffffff;

          path {
            color: #ffffff;
          }
        }

        &:hover {
          color: white;
          background-color: #4d637937;
        }
      }
  }